<div class="skin-green"  ng-class="{'sidebar-collapse':vm.open_sidebar,'sidebar-open':vm.open_sidebar}" ng-controller="HerbController as vm" >
    <div class="wrapper">
        <header class="main-header">
            <a href="index2.html" class="logo"><b>Herbal</b>App</a>
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas"  role="button" ng-click="vm.toggleSidebar()">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../admin/dist/img/user2-160x160.jpg"  class="user-image" alt="User Image"/>
                                <span class="hidden-xs">{{vm.active_user.username}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="../admin/dist/img/user2-160x160.jpg"  class="img-circle" alt="User Image" />
                                    <p>
                                    <p>{{vm.active_user.username}}</p>
                                    <h6>{{vm.active_user.email}}</h6>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-flat" ng-click="vm.logout()">Log out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div  ng-include="'../admin/views/admin_sidebar.html'"></div>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Medicinal Plant
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                    <li class="active">Plant</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row" >
                    <div class="col-md-12">

                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">{{vm.herb.name}}</h3>
                                <div class=" pull-right">
                                    <button class="btn btn-success" ng-click="vm.showList()">Update TMP</button>
                                </div>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                              <div class="panel">
                                  <div class="panel-heading">
                                      <img src="api/uploads/{{vm.herb.image_url}}" alt="" class="img-thumbnail img-responsive">
                                  </div>
                                  <div class="panel-body">
                                      <h2>{{vm.herb.name}} </h2>
                                      <p> {{vm.herb.common_name}}</p>
                                      <p> {{vm.herb.botanical_name}}</p>
                                  </div>
                              </div>

                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div><!-- /.col -->
                </div>
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
    </div>
</div>
