<div class="login-box" ng-controller="LoginController as vm">
    <div class="login-logo">
        <a href=""><b>HerbalApp Administrator</b></a>
    </div><!-- /.login-logo -->
    <div class="login-box-body login" >
        <p class="login-box-msg">Sign in to start your session</p>
        <form >
            <div class="form-group has-feedback">
                <input type="number" class="form-control" placeholder="Phone number" ng-model="vm.login_details.phone_number"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Password"  ng-model="vm.login_details.auth_no"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="vm.login()">Sign In</button>
                </div><!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
            <br>
            <br>
            <a href="/register" class="text-center">Register as a Vendor</a>
        </div><!-- /.social-auth-links -->


    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
