<div class="skin-green"  ng-class="{'sidebar-collapse':vm.open_sidebar,'sidebar-open':vm.open_sidebar}" ng-controller="AdminDashBoardController as vm" >
    <div class="wrapper">
        <header class="main-header">
            <a href="index2.html" class="logo"><b>Herbal</b>App</a>
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas"  role="button" ng-click="vm.toggleSidebar()">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../admin/dist/img/user2-160x160.jpg"  class="user-image" alt="User Image"/>
                                <span class="hidden-xs">{{vm.active_user.username}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="../admin/dist/img/user2-160x160.jpg"  class="img-circle" alt="User Image" />
                                    <p>
                                    <p>{{vm.active_user.username}}</p>
                                    <h6>{{vm.active_user.email}}</h6>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-flat" ng-click="vm.logout()">Log out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div  ng-include="'../admin/views/admin_sidebar.html'"></div>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                   Manage TMP's
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                    <li class="active">Manage TMP</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row" ng-if="vm.add === true">
                    <div class="col-md-12">

                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Add a new TMP</h3>
                                <div class=" pull-right">
                                    <button class="btn btn-success" ng-click="vm.showList()">View TMP</button>
                                </div>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <form role="form">
                                    <!-- text input -->
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label>Name</label>
                                            <input type="text" class="form-control" placeholder="Name of Plant"  ng-model="vm.new_tmp.name">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Common_name</label>
                                            <input type="number" class="form-control" placeholder="Common name of planr"  ng-model="vm.new_tmp.common_name">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Botanical_name</label>
                                            <input type="number" class="form-control" placeholder="Botanical name"  ng-model="vm.new_tmp.botanical_name">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="file">Image</label>
                                            <input type="file" id="file" multiple onchange="angular.element(this).scope().uploadedFile(this)" ng-model="vm.new_house.images" name="file" >
                                            <p class="help-block">Upload an Image of the Plant</p>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label>Yoruba_name</label>
                                                <input type="number" class="form-control" placeholder="Yoruba name"  ng-model="vm.new_tmp.local_name[0].name">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Igbo_name</label>
                                                <input type="number" class="form-control" placeholder="Igbo name"  ng-model="vm.new_tmp.local_name[1].name">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Hausa name</label>
                                                <input type="number" class="form-control" placeholder="Hausa name"  ng-model="vm.new_tmp.local_name[2].name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-md-6">
                                            <label>Description</label>
                                            <textarea class="form-control" rows="3" placeholder="Enter ..."   ng-model="vm.new_tmp.general_description">></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-success" ng-click="vm.addTMP()">Submit</button>
                                        </div>
                                    </div>
                                </form>

                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div><!-- /.col -->
                </div>
                <div class="row" ng-if="vm.add !== true">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Medicinal Plants</h3>
                                <div class=" pull-right">
                                    <button class="btn btn-success" ng-click="vm.showNew()">Add TMP</button>
                                </div>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                              <div class="row" ng-repeat="herb in vm.herbs" ng-click="vm.viewHerb(herb.id)">
                                  <div class="row">
                                      <div class="col-md-2">
                                          <img src="api/uploads/{{herb.image_url}}" alt="" class="img-thumbnail img-responsive">
                                      </div>
                                      <div class="col-md-10">
                                           <h2>{{herb.name}} </h2>
                                          <p> {{herb.common_name}}</p>
                                          <p> {{herb.botanical_name}}</p>
                                      </div>
                                  </div>
                                  <hr>
                              </div>

                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div><!-- /.col -->
                </div>
           </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</div>
</div>
